@{
}

<h2>MVC Html ve Tag Helpers</h2>

@Html.ActionLink("Anasayfa", "Index", "Home")
<br />
@Html.ActionLink("MVC01 Razor Syntax", "Index", "MVC01RazorSyntax")
<br />
<a asp-action="Index" asp-controller="Home" asp-route-id="18">Anasayfa</a>

<h3>
    Html Checkbox Oluşturma
</h3>

@Html.CheckBox("Onay") Onaylıyorum

<h3>
    Html Checkbox Oluşturma
</h3>

@Html.TextBox("txtAd") Ekranda giriş(input) elementi oluşturur.

<input id="txtSoyad" name="txtSoyad" type="text" value="">

<h3>
    Html Hidden(Gizli Element) Oluşturma
</h3>

@Html.Hidden("GizliElement", "Html Hidden(Gizli Element) deki veriler sadece sayfa kaynağında görünür")

<h3>
    Html Label Oluşturma
</h3>

@Html.Label("lblAd", "Html label elementi")

<h3>
    Html Textarea(Çok satırlı input) Oluşturma
</h3>

@Html.TextArea("txtAdres", "Html Textarea(Çok satırlı input) Oluşturma")

<h3>
    Html Password(Şifre alanı) Oluşturma
</h3>

@Html.Password("txtPassword")

<hr />

<h3>
    Html Helpers ile Form Oluşturma
</h3>

@using (Html.BeginForm())
{
    <h4>Kullanıcı Adı</h4>
    @Html.Editor("txtKullaniciAdi")
    <h4>Şifre</h4>
    @Html.Password("txtPassword")
    <br />
    <input type="submit" value="Giriş" />
}

<hr />

<h3>
    Tag Helpers ile Form Oluşturma
</h3>

<form asp-action="Index" asp-controller="MVC02HtmlAndTagHelpers" method="post">
    <h4>Kullanıcı Adı</h4>
    <input id="txtKullaniciAdi" name="txtKullaniciAdi" type="text" value="">
    <h4>Şifre</h4>
    <input id="txtSifre" name="txtSifre" type="text" value="">
    <br />
    <input type="submit" value="Giriş" />
</form>

<hr />

<h3>Listbox Elementi Kullanımı</h3>

@{
    var kategoriler = new SelectListItem[]
            {
                new SelectListItem() { Text = "Bilgisayar"},
                new SelectListItem() { Text = "Elektronik"},
                new SelectListItem() { Text = "Telefon"}
            };
    string htmlRawOrnek = "<h5>Html Raw ile Ekrana Html içerik yazdırma</h5>";
}

@Html.ListBox("lbListe", kategoriler)

<hr />

<h3>RadioButton Elementi Kullanımı</h3>

@Html.RadioButton("rbOnay", "Onaylıyorum") Sözleşmeyi Onaylıyorum

<hr />

<h3>Html Raw ile Ekrana Html içerik yazdırma</h3>

@htmlRawOrnek

@Html.Raw(@htmlRawOrnek)

@Html.Raw("<b style='color:red'>Html Raw ile Ekrana Html içerik yazdırma</b>")

<hr />

Burada örnek olarak home controller a contact sayfası yapıp iletişim formu yapıyoruz.