@model UyeSayfasiViewModel

@{
    // MVC de 1 sayfada sadece 1 tane model classı kullanılabilir!
    // 1 sayfada 1 den fazla class kullanmamız gerekirse View Model kullanmamız gerekir.
    ViewData["Title"] = "Üye Detay Sayfası";    
}

<h1>Üye Detay Sayfası</h1>

<h2>Üye Bilgileri</h2>

<table class="table table-striped">
    <tr>
        <td>Ad</td>
        <td>@Model.Kullanici.Ad</td>
    </tr>
    <tr>
        <td>Soyad</td>
        <td>@Model.Kullanici.Soyad</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Kullanici.Email</td>
    </tr>
    <tr>
        <td>Kullanıcı Adı</td>
        <td>@Model.Kullanici.KullaniciAdi</td>
    </tr>
    <tr>
        <td>Şifre</td>
        <td>@Model.Kullanici.Sifre</td>
    </tr>
</table>

<h2>Adres Bilgileri</h2>

<table class="table table-striped table-hover">
    <tr>
        <td>Şehir</td>
        <td>@Model.Adres.Sehir</td>
    </tr>
    <tr>
        <td>İlçe</td>
        <td>@Model.Adres.Ilce</td>
    </tr>
    <tr>
        <td>Açık Adres</td>
        <td>@Model.Adres.AcikAdres</td>
    </tr>
</table>