@using AspNetMVCEgitimProjesi.NetCore.Extensions
@{
    ViewData["Title"] = "Uyelik Bilgilerim";
}

<h1>Uyelik Bilgilerim</h1>

@{
    var uye = Context.Session.GetJson<Uye>("uye");
}

@if (uye != null)
{
    <h3>
        Hoşgeldin : @uye.KullaniciAdi
    </h3>

    <h3>Kullanıcı Bilgileriniz</h3>
    <table class="table">
        <tr>
            <td>Ad Soyad</td>
            <td> @uye.Ad @uye.Soyad</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@uye.Email</td>
        </tr>
        <tr>
            <td>TC Kimlik No</td>
            <td>@uye.TcKimlikNo</td>
        </tr>
        <tr>
            <td>Telefon</td>
            <td>@uye.Telefon</td>
        </tr>
        <tr>
            <td>Doğum Tarihi</td>
            <td>@uye.DogumTarihi.Value.ToShortDateString()</td>
        </tr>
    </table>
}